@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Open+Sans:300,400,600,700");
/* :: 2.0 Import All CSS */

@import url(css/classy-nav.css);
@import url(css/credit-icon.css);
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    color: #000000;
    line-height: 1.3;
    font-weight: 700;
}

p {
    color: #838383;
    font-size: 15px;
    line-height: 2;
    font-weight: 400;
}

a, a:hover, a:focus {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    outline: 0 solid transparent;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
}

ul, ol {
    margin: 0;
}

ul li, ol li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

/* :: 3.1.0 Spacing */

.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

.credit-btn {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: #ffbb38;
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 175px;
    height: 48px;
    color: #ffffff;
    border-radius: 5px;
    padding: 0 30px;
    font-size: 14px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

.credit-btn:hover, .credit-btn:focus {
    font-size: 14px;
    font-weight: 700;
    background-color: #003679;
    color: #ffffff;
}

.credit-btn.btn-2 {
    background-color: #003679;
    color: #ffffff;
}

.credit-btn.btn-2:hover, .credit-btn.btn-2:focus {
    background-color: #ffbb38;
    color: #ffffff;
}

.credit-btn.btn-3 {
    background-color: transparent;
    color: #003679;
    border: 2px solid #003679;
    line-height: 44px;
}

.credit-btn.btn-3:hover, .credit-btn.btn-3:focus {
    border: 2px solid #003679;
    background-color: #003679;
    color: #ffffff;
}

/* :: 4.0 Header Area CSS */

.header-area {
    position: relative;
    z-index: 1000;
    width: 100%;
}

.header-area .top-header-area {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: #f2f4f6;
}

.header-area .top-header-area .top-contact-info {
    position: relative;
    z-index: 1;
}

.header-area .top-header-area .top-contact-info a {
    display: inline-block;
    color: #838383;
    font-size: 14px;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    font-weight: 600;
}

.header-area .top-header-area .top-contact-info a img {
    margin-right: 10px;
}

@media only screen and (max-width: 767px) {
    .header-area .top-header-area .top-contact-info a span {
        display: none;
    }
}

.header-area .top-header-area .top-contact-info a:first-child {
    margin-right: 30px;
}

.header-area .top-header-area .top-contact-info a:hover, .header-area .top-header-area .top-contact-info a:focus {
    color: #003679;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .top-header-area .top-contact-info a {
        font-size: 13px;
    }
}

.header-area .credit-main-menu {
    position: relative;
    width: 100%;
    z-index: 1;
    background-color: #ffbb38;
}

.header-area .credit-main-menu::after {
    width: 50%;
    height: 100%;
    background-color: #003679;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: 1;
}

.header-area .credit-main-menu .classy-nav-container {
    background-color: transparent;
}

.header-area .credit-main-menu .classy-navbar {
    height: 85px;
    padding: 0;
    background-color: #003679;
}

@media only screen and (max-width: 767px) {
    .header-area .credit-main-menu .classy-navbar {
        height: 70px;
    }
}

.header-area .credit-main-menu .classy-navbar .classynav ul li a {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
    padding: 0 15px;
    color: #ffffff;
}

.header-area .credit-main-menu .classy-navbar .classynav ul li a:hover, .header-area .credit-main-menu .classy-navbar .classynav ul li a:focus {
    color: #ffbb38;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .credit-main-menu .classy-navbar .classynav ul li a {
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .credit-main-menu .classy-navbar .classynav ul li a {
        color: #003679;
    }
}

@media only screen and (max-width: 767px) {
    .header-area .credit-main-menu .classy-navbar .classynav ul li a {
        color: #003679;
    }
}

.header-area .credit-main-menu .classy-navbar .classynav>ul>li:first-child a {
    padding-left: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .credit-main-menu .classy-navbar .classynav>ul>li:first-child a {
        padding-left: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .header-area .credit-main-menu .classy-navbar .classynav>ul>li:first-child a {
        padding-left: 15px;
    }
}

.header-area .credit-main-menu .classy-navbar .classynav ul li.megamenu-item>a::after, .header-area .credit-main-menu .classy-navbar .classynav ul li.has-down>a::after {
    color: #ffffff;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .credit-main-menu .classy-navbar .classynav ul li.megamenu-item>a::after, .header-area .credit-main-menu .classy-navbar .classynav ul li.has-down>a::after {
        color: #003679;
    }
}

@media only screen and (max-width: 767px) {
    .header-area .credit-main-menu .classy-navbar .classynav ul li.megamenu-item>a::after, .header-area .credit-main-menu .classy-navbar .classynav ul li.has-down>a::after {
        color: #003679;
    }
}

.header-area .credit-main-menu .classy-navbar .classynav ul li ul li a {
    color: #003679;
    font-size: 14px;
}

.header-area .credit-main-menu .classy-navbar .contact {
    position: relative;
    z-index: 1;
    padding-left: 50px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.header-area .credit-main-menu .classy-navbar .contact::before {
    width: 100%;
    height: 200%;
    content: '';
    position: absolute;
    top: 42%;
    left: 0;
    z-index: -1;
    background-color: #ffbb38;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.header-area .credit-main-menu .classy-navbar .contact::after {
    width: 1000%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 62px;
    z-index: -1;
    background-color: #ffbb38;
}

.header-area .credit-main-menu .classy-navbar .contact a {
    display: inline-block;
    font-size: 24px;
    color: #003679;
    font-weight: 700;
    line-height: 85px;
}

.header-area .credit-main-menu .classy-navbar .contact a:hover {
    color: #ffffff;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .credit-main-menu .classy-navbar .contact a {
        font-size: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .credit-main-menu .classy-navbar .contact a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px) {
    .header-area .credit-main-menu .classy-navbar .contact a {
        font-size: 14px;
        line-height: 70px;
    }
}

.header-area .is-sticky .credit-main-menu {
    box-shadow: 0 7px 40px 0 rgba(0, 0, 0, 0.3);
}

.cta-area {
    position: relative;
    z-index: 1;
}

.cta-area .cta-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cta-area .cta-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        height: 400px;
    }
}

@media only screen and (max-width: 767px) {
    .cta-area .cta-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        height: 280px;
    }
}

.cta-area .cta-content {
    position: relative;
    z-index: 1;
    padding: 100px 5%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
    background-color: #ffbb38;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cta-area .cta-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .cta-area .cta-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
}

.cta-area .cta-content h6 {
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    line-height: 1.8;
}

.cta-area .cta-content .single-skils-area .skills-text span {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}

.cta-area .cta-content .single-skils-area p {
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
}

.cta-2-area {
    position: relative;
    z-index: 1;
    background-color: #003679;
    padding-top: 50px;
}

.cta-2-area .cta-content .cta-text {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

.cta-2-area .cta-content .cta-text h4 {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0;
    font-weight: 600;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cta-2-area .cta-content .cta-text h4 {
        font-size: 18px;
    }
}

.cta-2-area .cta-content .cta-text p {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
    .cta-2-area .cta-content .cta-text {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
}

.cta-2-area .cta-content .cta-btn {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

@media only screen and (max-width: 767px) {
    .cta-2-area .cta-content .cta-btn {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
}

.contact--area .section-heading h2, .news--area .section-heading h2 {
    font-size: 24px;
}

.menu__toggler {
    position: absolute;
    top: 90px;
    left: 20px;
    z-index: 999;
    height: 28px;
    width: 28px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu__toggler span, .menu__toggler span::before, .menu__toggler span::after {
    position: absolute;
    content: '';
    width: 28px;
    height: 2.5px;
    background: #fafafa;
    border-radius: 20px;
    transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.menu__toggler span::before {
    top: -8px;
}

.menu__toggler span::after {
    top: 8px;
}

.menu__toggler.active>span {
    background: transparent;
}

.menu__toggler.active>span::before, .menu__toggler.active>span::after {
    background: #005c9c;
    top: 0px;
}

.menu__toggler.active>span::before {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.menu__toggler.active>span::after {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.menu {
    position: absolute;
    left: -30%;
    z-index: 998;
    color: #005c9c;
    background: rgba(3, 3, 3, 0.7);
    -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    width: 30%;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}

@media only screen and (max-width: 600px) {
    .menu {
        width: 250px;
        left: -250px;
        padding: 50px;
    }
}

.menu.active {
    left: 0;
}

.menu p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}