.main-page {
    position: relative;
    z-index: 1
}

@media (min-width: 768px) {
    .main-page .container {
        max-width: 1200px !important;
    }
}

.gutter-10px.row, .gutter-10px .row {
    margin-left: -10px;
    margin-right: -10px
}

.gutter-10px.row>[class*=col-], .gutter-10px .row>[class*=col-] {
    padding-left: 10px;
    padding-right: 10px
}

@media (min-width: 992px) {
    .tm-reg .col-main {
        flex: 0 0 64.28571%;
        max-width: 64.28571%;
    }
}

.tm-reg__banner {
    position: relative;
    min-height: 500px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.tm-reg__banner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .125);
}

@media (min-width: 992px) {
    .tm-reg .col-aside {
        flex: 0 0 35.71429%;
        max-width: 35.71429%;
    }
}

.tm-regform .tm-regform__header h2 {
    margin-bottom: 0;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.2;
    color: inherit;
}

.tm-regform .tm-regform__header a {
    background-color: transparent;
    font-size: 13px;
    color: #ffc107 !important;
    text-decoration: none;
    touch-action: manipulation;
    cursor: pointer;
}

#loginForm p {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: .9375rem;
    width: 100%;
}

.form-control-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: .375rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding-left: .9375rem!important;
    padding-right: .9375rem!important;
    font-size: 13px;
}

.custom-checkbox.fs-13 {
    min-height: 19px;
}

.custom-checkbox.fs-13 .custom-control-indicator {
    top: 1px;
}

.custom-checkbox .custom-control-indicator {
    border-radius: .25rem;
}

.custom-control-indicator {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    user-select: none;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50% 50%;
}

.form-group .custom-control {
    position: relative;
    display: inline-flex;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
}