.fs-16 {
    font-size: 16px!important;
}

.fw-6 {
    font-weight: 600!important;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.mb-0 {
    margin-bottom: 0!important;
}

.mb-3 {
    margin-bottom: .9375rem!important;
}

.row {
    padding: 10px;
}

@media (min-width: 768px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}

.media {
    display: flex;
    align-items: flex-start;
}

.align-self-center {
    align-self: center!important;
}

.media-body {
    flex: 1;
}

.fs-14 {
    font-size: 14px!important;
}

.text-gray-light {
    color: #666!important;
}

.mt-1 {
    margin-top: .23438rem!important;
}

.d-flex {
    display: flex!important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
}

.form-group {
    margin-bottom: .9375rem;
    width: 100%;
}

.form-control-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: .375rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding-left: .9375rem!important;
    padding-right: .9375rem!important;
    font-size: 13px;
}

.form-group .custom-control {
    position: relative;
    display: inline-flex;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.table-responsive.table-bordered {
    border: 0
}

.tm-table-1 {
    height: 1px;
    min-width: 690px;
    overflow: hidden
}

.tm-table-1 .text-gray-lighter {
    color: #999!important
}

.tm-table-1 td, .tm-table-1 th {
    padding-left: 0;
    padding-right: 0
}

.tm-table-1 td .td-inner, .tm-table-1 th .td-inner {
    height: 100%;
    padding-left: .75rem;
    padding-right: .75rem
}

.tm-table-1 td:not(:last-child) .td-inner, .tm-table-1 th:not(:last-child) .td-inner {
    border-right: 1px solid #e6e6e6
}

.tm-table-1 td:first-child .td-inner, .tm-table-1 th:first-child .td-inner {
    padding-left: 0!important
}

.tm-table-1 td:last-child .td-inner, .tm-table-1 th:last-child .td-inner {
    padding-right: 0!important
}

.tm-table-1 th {
    border-top: none;
    border-bottom: 1px solid #999
}

.tm-table-1 th:not(:last-child) .td-inner {
    border-right-color: #999
}

.tm-table-1.no-line-h td {
    border-top: none
}

.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.align-self-center {
    align-self: center!important;
}

.media-body {
    flex: 1;
}

.line-height-heading {
    line-height: 1.2!important;
}

.justify-content-center {
    justify-content: center!important;
}