body {
    margin: 0;
}

header {
    background-color: #003679;
    overflow: hidden;
    padding: 0.5em 0;
}

ul {
    margin: 0;
    padding: 0;
}

.small-text {
    display: block;
    font-style: italic;
    font-size: 0.9em;
    margin-top: 0.3em;
}

h1.title {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
}

.button, button {
    margin-bottom: 0;
}

#logo {
    display: inline-block;
    margin-right: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.5em;
}

section {
    background-color: #faf9f9;
    padding: 4em;
    text-align: center;
    margin-bottom: 3em;
}

section h1 {
    font-weight: 500;
}

.bloc {
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #f5f5f5;
}

.bloc.primary {
    background-color: #9b4dca;
    color: #ffffff;
    border-color: #9b4dca;
}

.chapter {
    display: inline-block;
    margin-right: 0.5em;
    font-weight: 600;
    color: #9b4dca;
}

footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 0.5em 0;
    margin-top: 3em;
}

.header-area {
    position: relative;
    z-index: 1000;
    width: 100%;
}

.header-area .top-header-area {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: #f2f4f6;
}

.header-area .top-header-area .top-contact-info {
    position: relative;
    z-index: 1;
}

.header-area .top-header-area .top-contact-info a {
    display: inline-block;
    color: #838383;
    font-size: 14px;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    font-weight: 600;
}

.header-area .top-header-area .top-contact-info a img {
    margin-right: 10px;
}

@media only screen and (max-width: 767px) {
    .header-area .top-header-area .top-contact-info a span {
        display: none;
    }
}

.header-area .top-header-area .top-contact-info a:first-child {
    margin-right: 30px;
}

.header-area .top-header-area .top-contact-info a:hover, .header-area .top-header-area .top-contact-info a:focus {
    color: #003679;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .top-header-area .top-contact-info a {
        font-size: 13px;
    }
}

.justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}